body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.animate-snake {
  animation: dash 150s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
