body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.anim {
  animation: dash 40s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
